header{
  font-family: 'ABeeZee';
  color:#ffffff;
  background: #ffd843;
  padding-bottom: 15px;
  padding-top: 1px;
}

nav a{
  border-radius:2px;;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  color:#393939;
  font-family: 'ABeeZee';
}

nav{
  margin-top: 10px;
}

nav a:hover{
  color:#ffffff;
  text-decoration: none;
}

.active{
  color:#ffffff;
}

.intro{
  background:#393939;
  text-align:center;
  color:#ffffff;
  font-family: 'ABeeZee';
  font-size: 13px;
  padding-top: 3px;
} 

.ctitle{
  text-align:center;
  background:#393939;
  color:#ffd843;
  font-family: 'ABeeZee';
  padding-bottom: 15px;
  padding-top: 15px;
}

.logoup{
  width:150px;
  margin-top: 10px;
  text-align: left;
  margin-bottom:10px;
}

/*.logoup, nav{
  display: inline-block;
}*/

.navbar {
  text-align: right;
}

.container-fluid{
  background:#ffd843;
}

.crayon{
  width: 100%;
}

.class1{
  color:#393939;
  font-family: 'ABeeZee';
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 14px;
}

.one{
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}

.linkclass{
  color: #ffd843;
  background-color: #393939;
  padding: 4px 4px 4px 4px;
  border-radius: 3px;
}

.linklinkclass{
  text-decoration: none;
  color: #ffd843;
}

.linklinkclass:hover{
  color:#ffffff;
  text-decoration: none;
}


.two{
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}